.nav {
  background-color: red;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 80px;
  margin-top: 20px;
}

.bryd-list {
  color: #1C1F33;
  font-size: 35px;
  font-family: 'Dancing Script', cursive;
  font-weight: 800;
}