body {
  margin: 0;
  box-sizing: border-box;
  background-color: #1C1F33;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  margin: 150px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px;
  background-color: #D33E43;
}

.input-box {
  width: 300px;
  height: 30px;
  border-radius: 5px;
}

.button {
  width: 310px;
  height: 35px;
  background-color: #9B7874;
  border-radius: 5px;
  font-size: 30px;
}

.button:hover {
  background-color:#666370;
}