body {
  margin: 0;
  box-sizing: border-box;
  background-color: #1C1F33;
}

.bryd-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
}


.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85%;
  width: 90%;
  margin: 150px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px;
  background-color: #D33E43;
}

.input-box {
  width: 90%;
  height: 55px;
  border-radius: 5px;
  font-size: 25px;
}

input::placeholder {
  font-size: 25px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  background-color: #9B7874;
  border-radius: 5px;
  font-size: 15px;
  grid-column: 1/2;
  width: 100%;
  height: 35px;
}



.button:after {
  content: 'Add to Shopping List';
  width: 100%;
  height: 35px;
  background-color: #9B7874;
}

.button:after:hover {
  background-color: #666370;
}

.clear-btn {
  background-color: #9B7874;
  border-radius: 5px;
  font-size: 15px;
  grid-column: 2/3;
  width: 100%;
  height: 35px;
}

.clear-btn:after {
  content: 'Clear Shopping List';
  color: black;
  width: 100%;
  height: 35px;
  background-color: #9B7874;
  border-radius: 5px;
  font-size: 15px;
  grid-column: 2/3;
}

.clear-btn:after:hover {
  background-color: #666370;
}

.clear-btn:hover {
  background-color: #666370;
}

.button:hover {
  background-color:#666370;
}

.items-left {
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
}

@media screen and (max-width: 617px) {

  .input {
    width: 90%;
  }
  .button {
    font-size: 10px;
  }
  .clear-btn {
    font-size: 7px;
  }
}

@media screen and (max-width: 431px) {
  .button:after{
    content: 'Add';
  }
 
  .clear-btn:after {
    content: 'Clear';
  }
}

@media screen and (max-width: 375px) {
  .button {
    width: 40vw;
    font-size: 15px;
  }

  .clear-btn {
    width: 40vw;
    font-size: 15px;
  }
}
